* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 20%;
  background-color: #a9c4dd;
}
.navbar-right {
  display: flex;
  gap: 30px;
}
.hero {
  width: 100vw;
  height: 90vh;
  background-image: url("./img/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-side {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20%;
  padding-left: 15%;
  /* animation: slide 1.25s; */
  font-size: 1.5em;
}
@keyframes slide {
  from {
    -webkit-transform: translateX(-40%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
.hero-side-buttons {
  display: flex;
  gap: 40px;
}
.hero-side-buttons > button {
  width: 150px;
  height: 60px;
  border-radius: 25px;
  background-color: lightgray;
  border: none;
  font-size: 1.0em;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 100px; */
  text-align: center;
}
.skill {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-img {
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 25px;
}
.skill > p {
  font-size: 1.25em;
}
.java {
  background-image: url("./img/java.png");
}
.python {
  background-image: url("./img/python.png");
}
.cplusplus {
  background-image: url("./img/c++.png");
}
.react {
  background-image: url("./img/react.png");
}
.node {
  background-image: url("./img/nodejs.png");
}
.javascript {
  background-image: url("./img/javascript.png");
}
.html {
  background-image: url("./img/html.png");
}
.css {
  background-image: url("./img/css.png");
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.card-img-container {
  width: 600px;
  height: 300px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card-right {
  width: 500px;
  font-size: 1.25em;
}
.img-ubereats {
  background-image: url("./img/ubereats.png");
}
.img-maze {
  background-image: url("./img/maze.png");
}
.img-wordle {
  background-image: url("./img/wordle.jpeg");
}
.card-buttons {
  display: flex;
  gap: 20px;
}
.github {
  width: 100px;
  height: 45px;
  border: 1px solid red;
  background-image: url("./img/github-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.github > a {
  width: 100%;
  height: 100%;
}
.link {
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  font-size: 1.5em;
}
.link > a {
  text-decoration: none;
}